.blog{
    grid-column: 1/-1;
    background-image: url(../img/blog-bg.svg);
    background-size: cover;
    z-index: 99;
    padding-bottom: 30rem;

    @media only screen and (max-width: $big-desktop){
        padding-bottom: 40rem;
    }

    &__titles{
        text-align: center;
        padding-top: 8rem;
    }

    &__detail{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 4rem;
        padding: 3rem;
    }

    &__item{
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(rgb(235, 235, 235), .5);

        &-photo{
            width: 100%;
        }

        &-date{
            display: flex;
        }
        &-clock{
            margin-right: 2rem;
        }
    }

}

.blog__post{
    padding: 2rem;

    &--title{
        padding: 1rem 0;
    }

    &--button{
        padding: 2rem 0;
    }

    &--cta{
        outline: none;
        border: none;
        background-color: transparent;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 2rem;

        a:link,
        a:visited{
            text-decoration: none;
            color: #000;
            outline: none;
        }
    }

}