.nav{
    padding: 0 3rem;
    transition: all .3s  cubic-bezier(.17,.67,.9,.28);

    &__list{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        transition: all .2s;

        @media only screen and (max-width: $sm-laptop){
            width: 100vw;
            height: 100vh;
            background-color: #050505;
            display: flex;
            flex-direction: column;
            padding: 10rem;
            position: absolute;
            left: -900%;
            transition: all .2s;
            top: 2%;
        }
    }

    &__item{
        list-style: none;

        @media only screen and (max-width: $sm-laptop){
                padding: 3rem;
                font-size: 3rem;
        }

    }

    &__link{
        text-decoration: none;
        color: #fff;

        &:hover{
            border-bottom: 1px solid #fff;
            padding-bottom: 1rem;
            color: #f0ab0c;
        }

    }

    &__btn{
        outline: none;
        border: none;
        background-color: #fff;
        color: #000;
        padding: 2rem 6rem;
        box-shadow: 0 3px 6px rgba(#000, .4);
        border-radius: 3rem;
        font-weight: 700;

        @media only screen and (max-width: $big-laptop){
            padding: 2rem 4rem;
         }

         @media only screen and (max-width: $sm-laptop){
           margin-top: 2rem;
         }

        a:link,
        a:visited{
            outline: none;
            text-decoration: none;
            color: #000;
            
        }

        &:hover{
            background-color: $color-btn;
            color: #fff;
        }

        
    }
}

.checkbox-menu{
    font-size: 4rem;
    float: right;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 7%;
    top: 12%;
    transition: all .2s;

    &:hover{
        transform: rotate(180deg);
    }

    @media only screen and (max-width: $sm-laptop){
        display: block;
    }
}

.checkbox{
    display: none;
}

.checkbox:checked ~ .nav__list{
    left: 0;
}

.nav__link:active{

    &__list{
        display: none;
    }
}

.checkbox-menu__times{
    top: 4%;
    right: 14%;
}