.story{
    background-color: #F5F5F5;
    grid-column: 1/-1;
    padding-bottom: 5rem;
    // @media only screen and (max-width: $big-desktop){
    //     position: relative;
    //     top: -12%;
    //  }

    //  @media only screen and (max-width: $big-laptop){
    //     top: -18%;
    //  }

    //  @media only screen and (max-width: $md-laptop){
    //     top: -38%;
    // }
    // @media only screen and (max-width: $sm-laptop){
    //     top: -54%;
    // }
    // @media only screen and (max-width: $md-tab){
    //     top: -46%;
    //  }
    //  @media only screen and (max-width: $tab){
    //     top: -35%;
    // }
    // @media only screen and (max-width: $bg-mobile){
    //     top: -36%;
    // }

    // @media only screen and (max-width: $md-mobile){
    //     top: -39%;
    // }

    &__photo{
        position: relative;
        top: -2%;
        width: 100%;
    }

    &__feature{
        display: grid;
       grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
       position: relative;
       top: -12%;
       grid-gap: 4rem;

     @media only screen and (max-width: $big-desktop){
        margin: 0 2rem;
        top: -15%;
     }

     @media only screen and (max-width: $md-laptop){
        top: -10%;
    }

    @media only screen and (max-width: $md-tab){
        top: -9%;
    }

    //  @media only screen and (max-width: $big-laptop){
    //     margin: 0 1rem;
    //     top: -8%;
    //  }

    //  @media only screen and (max-width: $md-laptop){
    //     top: -12%;
    // }

    // @media only screen and (max-width: $sm-laptop){
    //     top: -10%;
    // }
    // @media only screen and (max-width: $laptop){
    //     top: 0%;
    //     padding-bottom: 10rem;
    // }

    // @media only screen and (max-width: $tab){
    //     grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    //     grid-gap: 10rem;
    // }

       &-item{
        background-color: #fff;
        padding: 3rem 4rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        text-align: center;
        padding-top: 6rem;
        box-shadow: 0 2px 6px rgba(rgb(105, 105, 105), .15);

        // @media only screen and (max-width: $md-laptop){
        //     margin: 0 3rem;
        //     padding-top: 4rem;
        // }

        // @media only screen and (max-width: $laptop){
        //     margin: 0 2rem;
        //     padding: 3rem;
        //  }

        //  @media only screen and (max-width: $tab){
        //     margin: 0 14rem;
        // }

        // @media only screen and (max-width: $md-mobile){
        //     margin: 0 6rem;
        // }
    }

       &-image{
           margin-bottom: 1rem;
       }

       &--title{
           padding-bottom: 1rem;
       }
    }
}

.discover{
    display: grid;
    grid-template-columns: repeat(8,1fr);

    &__image{
        height: 66rem;
        //width: 100%;
        grid-column: 2/6;
        background-size: cover;
        z-index: 99;

        @media only screen and (max-width: $md-tab){
           height: 60rem;
           grid-column: 2/5;
        }
        
        @media only screen and (max-width: $bg-mobile){
            grid-column: 1/5;
        }
    }

    &__detail{
        grid-column: 6/9;
        background-color: #fff;
        z-index: 100;
        padding: 2rem 5rem;
        margin: 7rem ;
        margin-left: -20rem;
        margin-bottom: 10rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        box-shadow: 0 2px 6px rgba(rgb(105, 105, 105), .15);

        @media only screen and (max-width: $md-tab){
            grid-column: 5/8;
            margin-top: 30rem;
            margin-right: -7rem;
        }
        
        @media only screen and (max-width: $md-mobile){
            margin-right: -4rem;
        }

    }

    &__title{
        font-weight: 200;
        font-size: 4rem;

    }

    &__subtitle{
        font-size: 4rem;
        margin-top: -2rem;
    }

    &__title-text{
        padding-bottom: 3rem;
        text-transform: uppercase;
    }

    &__text{

        &:not(:last-child){
            padding-bottom: 3rem;
        }
    }

    &__founder{
        font-weight: 700;
    }

    &__author{
        font-size: 4rem;
    }

    &__wave-bg{
        background-image: url(../img/wave.svg);
        background-size: cover;
        transform: rotate(180deg);
        width: 100%;
        height: 3rem;
        position: relative;
        bottom: -6%;

        @media only screen and (max-width: $tab){
            bottom: 0;
        }
    }
}